<div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6">
<dl class="program row">
			<dt class="col-span-4">
				15:00
			</dt>
			<dd class="program-type-start col-span-7">
				<div class="program-title">
						Zahájení
				</div>
				<div class="program-desc">
					<small></small>
				</div>

			</dd>
			<div class="clearfix"></div>
			<dt class="col-span-4">
				xx:xx
			</dt>
			<dd class="program-type-talk col-span-7">
				<div class="program-title">
						Představení dat
				</div>
				<div class="program-speaker">
          RUIAN, Město Brno
				</div>
				<div class="program-desc">
					<small></small>
				</div>

			</dd>
			<div class="clearfix"></div>
			<dt class="col-span-4">
				xx:xx
			</dt>
			<dd class="program-type-talk col-span-7">
				<div class="program-title">
						Představení základních technologií
				</div>
        <div class="program-speaker">
          PostGIS, GeoServer, FrontEnd
        </div>
        <div class="program-desc">
          <small></small>
        </div>
			</dd>
			<div class="clearfix"></div>
			<dt class="col-span-4">
				xx:xx
			</dt>
			<dd class="program-type-talk col-span-7">
				<div class="program-title">
						Práce na projektech
				</div>
				<div class="program-speaker">
					Práce v týmech podle zaměření
				</div>
				<div class="program-desc">
					<small></small>
				</div>

			</dd>
			<div class="clearfix"></div>
			<dt class="col-span-4">
				00:00
			</dt>
			<dd class="program-type-caffee col-span-7">
				<div class="program-title">
						Doplnění kofeinu pro druhou směnu
				</div>
        <div class="program-speaker">
          Pracovat bude možné v prostorech univerzity po celou noc
        </div>
        <div class="program-desc">
          <small>Síly bude možné doplnit ve spacáku ve speciální místnosti</small>
        </div>
			</dd>
      <div class="clearfix"></div>
      <dt class="col-span-4">
        08:00
      </dt>
			<dd class="program-type-caffee col-span-7">
				<div class="program-title">
						Snídaně
				</div>
        <div class="program-speaker">
          Znovuseskupení týmů
        </div>
        <div class="program-desc">
          <small></small>
        </div>
			</dd>
			<div class="clearfix"></div>
			<dt class="col-span-4">
				xx:xx
			</dt>
			<dd class="program-type-talk col-span-7">
				<div class="program-title">
						ad hoc přednášky
				</div>
				<div class="program-speaker">
				</div>
				<div class="program-desc">
					<small></small>
				</div>

			</dd>
			<div class="clearfix"></div>
			<dt class="col-span-4">
				19:00
			</dt>
			<dd class="program-type-end col-span-7 program-type-beer">
				<div class="program-title">
						Zakončení
				</div>
				<div class="program-desc">
					<small>Přesun do hospody na #geopívo</small>
				</div>
			</dd>
			<div class="clearfix"></div>
</dl>
</div>
