<footer id="contact" class="footer">

  <div class="container">
    <div class="col-lg-4 text-center">
      <h3>Přijďte za námi</h3>
      <p>
        PEF MENDELU
        <br/>
        Budova Q
        <br/>
        Zemědělská 1
        <br/>
        61300 Brno
      </p>
    </div>

    <div class="col-lg-4 text-center">
      <h3>Socializujte se</h3>
      <ul class="list-unstyled">
        <li><a href="https://twitter.com/GISHackathon">Twitter</a></li>
        <li><a href="https://www.youtube.com/user/GISHackathon/videos">Youtube</a></li>
        <li><a href="http://www.eventbrite.co.uk/o/gishackathon-8488860964">Naše akce na Eventbrite</a></li>
        <li><a href="http://eepurl.com/PuLtX">Přihlašte se do mailinglistu</a></li>
      </ul>
    </div>

    <div class="col-lg-4 text-center">
      <h3>Kontaktujte nás</h3>
      <ul class="list-unstyled">
        <li><a href="mailto:jkdubr@me.com ">Jakub Dubrovský</a></li>
        <li><a href="mailto:vdubr@icloud.com ">Vojtěch Dubrovský</a></li>
        <li><a href="mailto:david.prochazka@mendelu.cz">David Procházka</a></li>
      </ul>
    </div>
  </div>
</footer>
